*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
}

.profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
}

.profile img{
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.info_profile{
    display: flex;
}

.actions{
    font-size:large;
}

.new_chat{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px #BEC1BB;
    border-top: solid 2px #BEC1BB;
}

.new_chat a{
    text-decoration: none;
    background-color: #A491D2;
    padding: 7px;
    color:white;
    margin:20px;
}

.new_chat a:hover{
    text-decoration: none;
    background-color: #CDC3E6;
    padding: 7px;
    color:white;
    margin:20px;
}

.new_chat a:focus{
    text-decoration: none;
    background-color: #BEC1BB;
    padding: 7px;
    color:white;
    margin:20px;
}

.messeges{
    background-color: #FFF;
    width: 20%;
    display: flex;
    flex-direction: column;
    border-right: solid 2px #BEC1BB;
    height: 100vh;
}

.messege{
display: flex;
justify-content: center;
align-items: center;
border-bottom: solid 2px #BEC1BB;
padding: 7px;
}

.messege img{
    width: 50px;
    border-radius: 50%;
}



.chat{
    display: flex;
    background-color: #E8EBE4;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}




.bienvenida img{
    max-width: 300px;
}